<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ProMan</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/solid.css" integrity="sha384-rdyFrfAIC05c5ph7BKz3l5NG5yEottvO/DQ0dCrwD8gzeQDjYBHNr1ucUpQuljos" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css" integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

        <link rel="manifest" href="/static/js/util/manifest.json">
        <script type="module" src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    </head>
    <body>
        <h1>ProMan</h1>
        <div id="user-input">
            <button class="show-input" id="show-input">Add Board</button>
        </div>
        <div class="board-container" id="root"> </div>


{#    <script>#}
{#        if ('serviceWorker' in navigator) {#}
{#          // Register a service worker hosted at the root of the#}
{#          // site using the default scope.#}
{#          navigator.serviceWorker.register('/static/js/util/service-worker.js').then(function(registration) {#}
{#            console.log('Service worker registration succeeded:', registration);#}
{#          }, /*catch*/ function(error) {#}
{#            console.log('Service worker registration failed:', error);#}
{#          });#}
{#        } else {#}
{#          console.log('Service workers are not supported.');#}
{#        }#}
{#    </script>#}
{#    <script type="module" src="{{ url_for('static', filename='js/util/service-worker.js') }}" defer></script>#}
    </body>
</html>
